@font-face{
    font-family: myfont;
    src:url("../webfonts/fa-brands-400.ttf")
}

body{
    margin:0;
    font-family:Arial, sans-serif;
}
html{
    scroll-behavior:smooth;
}


nav{
    background-color: #dbc1ac;
}


.logo-text{
    font-family:myfont;
    font-weight:bolder;
    color:#6F4E37;
    align-items: center;
}

.logo-container {
  display: flex;        
  align-items: center;   
  gap: 10px;             
}
.logo {
  height: 50px;         
}


.carousel-img
{
    padding-top: 60px;
}

.nav-text{
    color:#6F4E37;
}
.nav-text:hover{
    color:#211409;
    font-size: large;
    transition:0.1s;
}

.user-profile,.logout-link{

    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:#3e2723 !important;
    font-weight:bold;
}
.nav-circle{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#3e2723;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s ease;
    position:relative;
    color:#f5e6d3;
    font-size:16px;
}
.nav-circle:hover{
    background:#6f4e37;
    transform:translateY(-3px);
    box-shadow:0 0 15px rgba(111,78,55,0.5);
}
#navbarUser{
    font-size:15px;
    letter-spacing:0.5px;
}

.logout-text{
    font-size:15px;
}

.logout-circle{
    background:#4a2c2a;
}
.logout-circle:hover{
    background:#7b3f36;
    box-shadow:0 0 15px rgba(123,63,54,0.5);
}
.menu-icon:hover{
    transform: scale(1.3);
}
/* CART BADGE */
.cart-count{
    position:absolute;
    top:-8px;
    right:-10px;
    min-width:20px;
    height:20px;
    padding:2px 6px;
    border-radius:50%;
    background:#c67c4e;
    color:white;
    font-size:11px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 10px rgba(198,124,78,0.5);
    line-height:1;
}

@media(max-width:991px){
    .navbar-nav{
        align-items:flex-start !important;
    }
    .user-profile,
    .logout-link{
        margin-bottom:10px;
    }
}

/* spceailities */
.s-text{
    color:#634832;
    font-size:40px;
    letter-spacing:2px;
    line-height:1;
    font-weight:bold;
}
.s-text:hover{
    color: #5c4e42;
}
.s-text2{
    text-align: center;
    font-weight: bold;
    color: #917e6f;
    padding-bottom:20px;
}

.card{
    border:none;
}
.card-title{
    font-weight: bold;
    color:#dbc1ac !important;
    text-align: center;
}
.card-text{
    color: white;
    text-align: left;
}
.card-body{
    background-color:#211409;
}

.specials{
    transition: transform 0.4s ease-in-out;
}
.specials:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* gallery section */
.gallery-text{
    color:#634832;
    font-size:40px;
    margin:0;
    letter-spacing:2px;
    line-height:1;
    font-weight:bold;
}
.gallery-text2{
    text-align: center;
    color:#917e6f;
    padding-bottom:20px;
    padding-top:8px;
}
.gallery-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon-box{
    color:#271c14;
    font-size:20px;
    position:relative;
    top:2px;
}

/* about-section */
.choose-section{
    background:#f5f3f2;
}
.choose-title{
    font-size:40px;
    font-weight:bold;
    color:#634832;
    margin-bottom:15px;
}
.choose-subtitle{
    color:#917e6f;
}
.feature-box{
    transition:0.4s;
}
.feature-box:hover{
    transform:translateY(-10px);
}
.icon-circle{
    width:95px;
    height:95px;
    background:#211409;;
    border-radius:50%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    transition:0.4s ease;
    color:#dbc1ac;
}
.icon-circle i{
    font-size:38px;
}
.feature-box:hover .icon-circle{
    transform:scale(1.08);
    box-shadow:0 0 15px rgba(62,39,35,0.6),0 0 30px rgba(62,39,35,0.5),0 0 45px rgba(62,39,35,0.4);
}
.feature-title{
    font-size:32px;
    color:#736457;
    font-weight:bold;
    margin-bottom:15px;
}
.feature-text{
    font-size:22px;
    color:#9b9087;
    line-height:1.6;
}
@media(max-width:992px){
    .choose-title{
        font-size:45px;
    }
    .feature-title{
        font-size:26px;
    }
    .feature-text{
        font-size:18px;
    }
}
@media(max-width:768px){
    .choose-title{
        font-size:38px;
    }   
    .choose-subtitle{
        font-size:18px;
    }
    .icon-circle{
        width:85px;
        height:85px;
    }
    .icon-circle i{
        font-size:32px;
    }
}

/* testimonial-reviews */
.testimonial-section{
    background:#f5f3f2;
}
.testimonial-title{
    font-size:40px;
    color:#634832;
    margin-bottom:15px;
}
.testimonial-subtitle{
    color:#917e6f;
}
.testimonial-card{
    background:#211409;
    padding:35px;
    border-radius:20px;
    height:100%;
    transition:0.4s ease;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}
.testimonial-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 15px rgba(62,39,35,0.6),0 0 30px rgba(62,39,35,0.5),0 0 45px rgba(62,39,35,0.4);
}
.review-title{
    color:#dbc1ac;
    font-size: 20px;
}
.stars{
    color:#f4b400;
    font-size:22px;
    margin-right:3px;
}
.review-text{
    color:white;
    font-size:22px;
    line-height:1.9;
    margin-bottom:30px;
}
.customer-info{
    display:flex;
    align-items:center;
    gap:15px;
}
.customer-circle{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#f1efee;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    color:#9a8f89;
    border:1px solid #e0dcdc;
}
.customer-name{
    margin:0;
    font-size:24px;
    color:#dbc1ac;
    font-weight:bold;
}
.review-time{
    margin:0;
    color:white;
    font-size:18px;
}
@media(max-width:992px){
    .testimonial-title{
        font-size:45px;
    }
    .review-text{
        font-size:18px;
    }
    .customer-name{
        font-size:20px;
    }
}
@media(max-width:768px){
    .testimonial-title{
        font-size:36px;
    }
    .testimonial-subtitle{
        font-size:18px;
    }
    .testimonial-card{
        padding:28px;
    }
}

/* menu-image-section */
.menu-image-section{
    background:#f5f3f2;
}
.menu-image-section,.testimonial-section,.choose-section{
    scroll-margin-top:100px;
}
.menu-title{
    font-size:40px;
    font-weight:bold;
    color:#634832;
    margin-bottom:15px;
}
.menu-subtitle{
    color:#917e6f;
}
.menu-image-box{
    overflow:hidden;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.4s ease;
}
.menu-image-box:hover{
    box-shadow:0 18px 40px rgba(0,0,0,0.12);
}
.menu-image{
    width:100%;
    border-radius:25px;
    transition:0.5s ease;
}

@media(max-width:992px){
    .menu-title{
        font-size:46px;
    }
}
@media(max-width:768px){
    .menu-title{
        font-size:36px;
    }
    .menu-subtitle{
        font-size:18px;
    }
    .menu-btn{
        width:100%;
    }
}


/* footer-section */
.footer-section{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../images/coffee_beans.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
.footer-overlay{
    background:rgba(18,9,7,0.45);
    backdrop-filter:blur(6px);
}
.footer-logo{
    color:#f5e6d3;
    font-size:38px;
    font-weight:bold;
    margin-bottom:25px;
}
.footer-logo i{
    color:#c67c4e;
    margin-right:10px;
}
.footer-text{
    color:#d3c7bf;
    font-size:18px;
    line-height:1.9;
}
.footer-heading{
    color:#f5e6d3;
    font-size:24px;
    font-weight:bold;
    margin-bottom:25px;
}
.footer-links{
    list-style:none;
    padding:0;
}
.footer-links li{
    margin-bottom:15px;
}
.footer-links a{
    color:#d3c7bf;
    text-decoration:none;
    transition:0.3s;
    font-size:18px;
}
.footer-links a:hover{
    color:#c67c4e;
    padding-left:5px;
}
.footer-contact{
    list-style:none;
    padding:0;
}
.footer-contact li{
    color:#d3c7bf;
    margin-bottom:18px;
    display:flex;
    align-items:center;
    gap:12px;
    font-size:18px;
}
.footer-contact i{
    color:#c67c4e;
}
.social-icons{
    display:flex;
    gap:18px;
    flex-wrap:wrap;
}
.social-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,0.08);
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s ease;
    text-decoration:none;
    backdrop-filter:blur(4px);
}
.social-icon{
    color:#f5e6d3;
    font-size:20px;
}
.social-icon:hover{
    transform:translateY(-5px);
    background:#3e2723;
    box-shadow:0 0 15px rgba(62,39,35,0.7),0 0 30px rgba(62,39,35,0.4);
}
.footer-bottom{
    border-top:1px solid rgba(255,255,255,0.1);
    padding-top:25px;
}
.footer-bottom p{
    color:#c0b6af;
    margin:0;
}
@media(max-width:768px){
    .footer-section{
        text-align:center;
    }
    .footer-contact li{
        justify-content:center;
    }
    .social-icons{
        justify-content:center;
    }
    .footer-logo{
        font-size:30px;
    }
}