/* BODY */

body{

    margin:0;

    padding:0;

    font-family:Arial, sans-serif;

}
.login-section{
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("../images/login-register-bg.png");
    background-size:cover;
    background-position:center;
    min-height:100vh;
}
.login-overlay{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
}
.login-box{
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.15);
    backdrop-filter:blur(5px);
    padding:20px;
    border-radius:25px;
    box-shadow:0 8px 30px rgba(0,0,0,0.35);
}
.login-logo{
    color:#f5e6d3;
    font-size:42px;
    font-weight:bold;
}
.login-logo i{
    color:#c67c4e;
    margin-right:10px;
}
.login-subtitle{
    color:#d7d7d7;
    margin-top:12px;
}
.form-label{
    color:#f5e6d3;
    margin-bottom:10px;
}
.input-group{
    border-radius:14px;
    overflow:hidden;
}
.input-group-text{
    background:#3e2723 !important;
    border:none !important;
    color:#f5e6d3 !important;
}
.form-control{
    border:none !important;
    background:rgba(255,255,255,0.12) !important;
    color:white !important;
    padding:14px;
}
.form-control::placeholder{
    color:#d7d7d7;
}
.form-control:focus{
    box-shadow:none !important;
}
.eye-btn{
    background:#3e2723 !important;
    border:none !important;
    color:#f5e6d3 !important;
}
.remember-text{
    color:#d7d7d7;
}
.forgot-link{
    text-decoration:none;
    color:#c67c4e;
}
.forgot-link:hover{
    color:#f5e6d3;
}
.login-btn{
    background:#6f4e37 !important;
    border:none !important;
    padding:14px !important;
    border-radius:14px !important;
    color:white !important;
    font-size:18px;
    transition:0.4s ease;
}
.login-btn:hover{
    background:#c67c4e !important;
    transform:translateY(-3px);
}
.divider{
    text-align:center;
    margin:30px 0;
    color:#d7d7d7;
    position:relative;
}
.divider::before,.divider::after{
    content:"";
    position:absolute;
    top:50%;
    width:40%;
    height:1px;
    background:rgba(255,255,255,0.2);
}
.divider::before{
    left:0;
}
.divider::after{
    right:0;
}
.social-login{
    display:flex;
    justify-content:center;
    gap:18px;
}
.social-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,0.08);
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:0.4s ease;
}
.social-btn {
    color:#f5e6d3;
    font-size:20px;
}
.social-btn:hover{
    transform:translateY(-5px);
    background:#3e2723;
}
.register-text{
    text-align:center;
    color:#d7d7d7;
    margin-top:30px;
}
.register-text a{
    color:#c67c4e;
    text-decoration:none;
    font-weight:bold;
}
@media(max-width:768px){
    .login-box{
        padding:35px 25px;
    }
    .login-logo{
        font-size:32px;
    }
}